.box_holder{
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.drag-drop-zone {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 45px; 
    border: dotted 2px green;
    max-width: 80%;
    border-radius: 50px;
    color: black;
}


.drag-drop-zone_dragged {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
    max-width: 80%;
    background-color: rgb(90, 198, 234, .1);
    box-shadow: 0 0 3px purple;
    padding: 45px;
    border: solid 2px green;
    transform: scale(.95);
    border-radius: 50px;
    filter: blur(.6px)
}

.drag-drop-zone_dragged .child-elements {
    pointer-events: none;
  }

.drag-drop-zone .child-elements {
    pointer-events: none;
}

.button-holder{
    margin-top: 1rem;
    padding-top: 1rem;
}

p {
    pointer-events: none;
    margin-top: 0px;
}

img {
    pointer-events: none;
    margin-bottom: 0px;
}

@media (max-width: 1100px) {
    img {
        display:none;
    }
    .drag_prompt{
        display:none;
    }
}
