.hyper_button {
    margin-top: .3rem;
    padding: 1rem;
    background-color: #3399ff;
}

.cancel_button{
    padding: 1rem;
    border-radius: 10px;
    background-color: #ff7f7f;
    border-bottom: solid 5px rgb(128, 2, 2)
}