.App {
  text-align: center;
  background-color: lightgray;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  color: black;
  margin-top: 0px;
  font-style: italic;
}

h1 {
  color: black;
  margin-bottom: 0px;
  padding: 0px;
}


.box_holder{
    border-top: solid 5rem #0066ff;
    background-color: white;
    min-height: 20vh;
    width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    color: black;
}

.upload_button{
    margin-top: .3rem;
    padding: 1rem;
    background-color: #3399ff;
    border-bottom: solid 5px #024a92;
    border-radius: 10px;
}

.hyper_button{
    background-color: #3399ff;
    border-bottom: solid 5px #024a92;
    border-radius: 10px;
}


.drag-drop-zone {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 45px; 
    border: dashed 2px #3399ff;
    width: 70%;
    height: 80%;
    color: black;
}


.drag-drop-zone_dragged {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: black;
    background-color: #3399ff;
    box-shadow: 0 0 3px navy;
    padding: 45px;
    width: 70%;
    height: 60%;
    border: solid 2px #0066ff;
    filter: blur(.6px)
}

.drag-drop-zone_dragged .child-elements {
    pointer-events: none;
  }

.drag-drop-zone .child-elements {
    pointer-events: none;
}


p {
    pointer-events: none;
    margin-top: 0px;
}

img {
    pointer-events: none;
    margin-bottom: 0px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

#load-box{
  min-width: 70%;
  color: #3399ff;
}

.load_dots{
  margin-top: 0px;
  font-size: 3rem;
  margin-bottom: 0px;
}

@media (max-width: 1100px) {
  
    .drag-drop-zone {
        padding: 45px; 
        border: dashed black;
        max-width: 70%;
        color: black;
    }
    
    
    .drag-drop-zone_dragged {
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: black;
        background-color: #3399ff;
        box-shadow: 0 0 3px navy;
        padding: 45px;
        border: none;
        transform: scale(.95);
        filter: blur(.6px)
    }

    .box_holder{
        border-top: solid 2rem #0066ff;
        background-color: white;
        min-height: 20vh;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


  .drag_prompt {
    display: none;
  }
}
